img {
  margin-bottom: 3pt;
  margin-top: 0px;
  margin-right: 20px;
  height:70px; 
  width:100px;
}

#c {
  list-style-position: initial;
  
}

#d {
  margin-left: 50pt;
  list-style-position: initial;
  
}

.button1 {
  background-color: rgb(22, 162, 255);
  border: none;
  color: white;
  padding: 50px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#d {
  border: 50px;
 padding-block: 25pt;
 padding-right: 40pt;
 margin: auto;
  color: white;
  
}

#a {
  
  margin-right: 1000px;
  color: black;
  
}


.abc {
  background-color: rgb(22, 162, 255);
  border: rgb(22, 162, 255);
  color: white;
  padding: 25px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 1000pt;
  font-size: 16px;
 
  
}

.nanu {
  background-color: white;
  border: white(22, 162, 255);
  color: black;
  padding: 25px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
 
  font-size: 16px;
}

.main
{
  margin-left: 350px;
  margin-top: -50px;
}

